<template>
  <div class="application-status">
    <font-awesome-icon :icon="icon" class="application-status__icon"
                       :class="`application-status__icon--${status}`"
    />
    <small v-if="date">
      <sba-time-ago :date="date" />
    </small>
  </div>
</template>

<script>
  import moment from 'moment';
  import sbaTimeAgo from './sba-time-ago';

  const icons = {
    'UP': 'check',
    'RESTRICTED': 'exclamation',
    'OUT_OF_SERVICE': 'ban',
    'DOWN': 'times-circle',
    'OFFLINE': 'minus-circle',
    'UNKNOWN': 'question-circle'
  };

  export default {
    // eslint-disable-next-line vue/no-unused-components
    components: {sbaTimeAgo},
    props: {
      status: {
        type: String,
        default: 'UNKNOWN'
      },
      date: {
        type: [String, Date, Number, moment],
        default: null
      },
    },
    computed: {
      icon() {
        return icons[this.status];
      }
    }
  }
</script>

<style lang="scss">
  @import "~@/assets/css/utilities";

  .application-status {
    text-align: center;
    line-height: 1rem;
    display: inline-flex;
    flex-direction: column;

    &__icon {
      color: gray;
      margin: 0 auto;

      &--UP {
        color: $success;
      }

      &--RESTRICTED {
        color: $warning;
      }

      &--OUT_OF_SERVICE,
      &--DOWN {
        color: $danger;
      }

      &--UNKNOWN,
      &--OFFLINE {
        color: $grey;
      }
    }
  }
</style>
