<template>
  <div v-html="formatted" class="formatted" />
</template>

<script>
  import {Autolink} from '@/utils/autolink';
  import objToString from '@/utils/objToString';

  const autolink = new Autolink({truncate: {
      length: 50,
      location: 'smart'
    }});

  export default {
    props: {
      value: {
        // eslint-disable-next-line vue/require-prop-type-constructor
        type: null,
        required: true
      },
    },
    computed: {
      formatted() {
         return autolink(objToString(this.value));
      }
    }
  }
</script>

<style lang="scss">
  .formatted {
    white-space: pre;
  }
</style>
