<template>
  <button @click="click" class="confirm-button" :class="{ 'is-warning' : confirm }" v-on-clickaway="abort">
    <slot name="confirm" v-if="confirm">Confirm</slot>
    <slot v-else />
  </button>
</template>

<script>
  import {directive as onClickaway} from 'vue-clickaway';

  export default {
    directives: {onClickaway},
    data: () => ({
      confirm: false
    }),
    methods: {
      abort() {
        this.confirm = false;
      },
      click(event) {
        if (this.confirm) {
          this.$el.style.width = null;
          this.$emit('click', event);
        } else {
          const width = this.$el.getBoundingClientRect().width;
          this.$el.style.width = `${width}px`;
        }
        this.confirm = !this.confirm;
      }
    }
  }
</script>


<style lang="scss">
  @import "~@/assets/css/utilities";

  .confirm-button {
    transition: all $easing 150ms;
  }
</style>
