<template>
  <button type="button" class="icon-button" :disabled="disabled" v-on="$listeners">
    <font-awesome-icon :icon="icon" :size="size" :class="iconClass" />
  </button>
</template>

<script>
  export default {
    props: {
      disabled: {
        type: Boolean,
        default: false,
      },
      icon: {
        type: [String, Array],
        required: true,
      },
      size: {
        type: String,
        default: null
      },
      iconClass: {
        type: String,
        default: null
      }
    }
  }
</script>

<style lang="scss">
  @import "~@/assets/css/utilities";

  .icon-button {
    background: none;
    border: none;
    padding: 0;
    font-size: 1em;
    color: inherit;

    &:not([disabled]) {
      cursor: pointer;

      &:hover {
        color: $black;
      }

      & svg {
        fill: currentcolor;
      }
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:active {
      outline: none;
    }
  }
</style>
