<template>
  <span>
    <span class="has-text-warning" v-if="error">
      <font-awesome-icon icon="exclamation-triangle" />
    </span>
    <span :class="{ 'badge is-badge-danger' : downCount > 0 }" :data-badge="downCount">
      应用
    </span>
  </span>
</template>

<script>
  export default {
    props: {
      applications: {
        type: Array,
        default: () => [],
      },
      error: {
        type: Error,
        default: null
      }
    },
    computed: {
      downCount() {
        return this.applications.reduce((current, next) => {
          return current + (next.instances.filter(instance => instance.statusInfo.status !== 'UP').length);
        }, 0);
      }
    },
    watch: {
      downCount(newVal, oldVal) {
        if ((newVal === 0) !== (oldVal === 0)) {
          this.updateFavicon(newVal === 0);
        }
      }
    },
    methods: {
      updateFavicon(up) {
        document.querySelector('link[rel*="icon"]').href = up ? 'assets/img/favicon.png' : 'assets/img/favicon-danger.png';
      }
    }
  };
</script>
