*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
    color: #ffffff;
}
li{
    list-style: none;
}
h1{
    font-size: 25px;
}
body{
    background: rgb(243, 243, 243);
    overflow: hidden;
}
a{
    color: #000000;
}
/*针对谷歌和苹果浏览器*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    *{
        font-size: 12px;
    }
}
.main-body .header{
    width: 100%;
    height: 50px;
    float: left;
    background:#008cff!important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-body .header .left-arrow{
    position: absolute;
    left: 10px;
    height: 30px;
    top: 10px;
}
.main-body .header .left-arrow img{
    height: 100%;
}
.main-body .header .right-info{
    position: absolute;
    height: 50px;
    right: 5px;
    top:0;
    line-height: 22px;
    text-align: right;
    font-size: 14px;
}
.main-body .chess-box{
    padding:5px 5px;
    background:linear-gradient(#c18fed,#7b8cf4);
    float: left;
    width: 100%;
}
.main-body .balance{
    float: left;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.main-body .balance h3{
    font-size: 14px;
    color: #000000;
    display: flex;
}
.main-body .balance span{
    color: red;
    font-size: 14px;
}
.main-body .balance img{
    width: 20px;
}
.main-body .balance button{
    color:#008cff  !important;
    border:1px solid #008cff  !important;
    border-radius: 5px;
    padding: 5px 10px;
    background: none;
    margin-right: 10px;
}
.main-body .balance input[type='button']{
    background: linear-gradient(#c692ee,#b18cec);
    border-radius: 5px;
    width: 78px;
    height: 34px;
    border: none;
}
.main-body .imgModule{
    padding: 0 10px;
    margin-top: 10px;
    float: left
}
.main-body .imgModuleSmall{
    width: 50%;
    box-sizing: border-box;
    padding: 4px;
}
.main-body .imgModule img,imgModuleSmall img{
    width: 100%;
}
.v-modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background:rgba(0,0,0,0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2002;
}
.v-modal .mint-msgbox{
    width: 85%;
    height: 260px;
    background: #ffffff;
    border-radius: 3px;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}
.v-modal .mint-msgbox h2{
    font-size: 18px;
    text-align: center;
    color: #666;
    margin-top:10px ;
    display: flex;
    justify-content: center;
}
.v-modal .mint-msgbox h3{
    font-size: 14px;
    text-align: center;
    color: #666;
    margin-top:10px ;
}
.v-modal .mint-msgbox img{
    width: 20px;
    margin: 0 5px;
}
.v-modal .mint-msgbox input[type='number']{
    width: 80%;
    height: 30px;
    padding: 3px 8px;
    color: #000000;
    border: 1px solid #dadada;
    border-radius: 4px;
}
.v-modal .limitButton{
    position: absolute;
    width: 100%;
    height: 37px;
    left: 0;
    bottom: 0;
    border: 1px solid #ddd;
}
.v-modal .limitButton button{
    width: 50%;
    position: absolute;
    box-sizing: border-box;
    height: 36px;
    background: none;
    border: none;
}
.v-modal .limitButton button:nth-child(1){
    width: 50%;
    position: absolute;
    box-sizing: border-box;
    height: 36px;
    background: none;
    border: none;
    color: #000000;
    border-right: 1px solid #ddd;
}

.v-modal .limitButton button:nth-child(2){
    width: 50%;
    position: absolute;
    box-sizing: border-box;
    height: 36px;
    background: none;
    border: none;
    color: #26a2ff;
    right: 0;
}
