/* é»˜è®¤å­—ä½“å¤§å°ä¸º 100px æ¥è®¡ç®— rem çš„å€¼ */

html {
    font-size: 100px;
}

/* æ”¾å¤§ 1.1 å€çš„è®¾å¤‡ */

@media (min-width: 751px),
(min-width: 376px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 320px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 110px;
    }
}

/* æ”¾å¤§ 1.2 å€çš„è®¾å¤‡ */

@media (min-width: 1081px),
(min-width: 541px) and (-webkit-min-device-pixel-ratio: 2),
(min-width: 415px) and (-webkit-min-device-pixel-ratio: 3) {
    html {
        font-size: 120px;
    }
}

/* ä»¥ä¸Šå†…å®¹æ˜¯æ ¹æ® html æ ‡ç­¾çš„æ–‡å­—æ”¹å˜é¡µé¢ä¸­å…ƒç´ çš„å¤§å° */

html,
body,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    font-size: .12rem;
    color: #3c3c3c;
    background-color: #483c3a00;
}

body img {
    display: inline-block;
    width: 100%;
}

.wrap {
    position: relative;
    width: 7.5rem;
    margin: 0 auto;
}

.header {
    position: relative;
    width: 7.5rem;
    min-height: 4rem;
}

.IOSazjc {
    width: 7.5rem;
    position: absolute;
    top: 0.15rem;
    right: 0.17rem;
}

.jc {
    max-height: 0.56rem;
    max-width: 1.72rem;
    margin-left: 5.8rem;
}

/*.qrcode {*/

/*    position: absolute;*/

/*    width: 1.58rem;*/

/*    height: 1.58rem;*/

/*    top: 0.8rem;*/

/*    right: 0.2rem;*/

/*    border-radius: 4%;*/

/*    overflow: hidden;*/

/*    margin: auto;*/

/*}*/

.qrcode {
    position: absolute;
    padding: 0.09rem;
    height: 1.58rem;
    width: 1.58rem;
    background: white;
    bottom: 5.83rem;
    right: 0.12rem;
    text-align: center;
    /*border-radius: 0.35rem;*/
}

.fize {
    font-size: .31rem;
    text-align: center;
    color: white;
    width: 2rem;
    height: .60rem;
    padding-top: 0.1rem;
    margin-left: -0.2rem;
    text-shadow: #9f4103 3px 3px 3px;
    /*padding-right: -0.37rem;*/
}

.ljxz {
    width: 7.5rem;
    position: absolute;
    top: 7.21rem;
    text-align: center;
    z-index: 9999;
}

.appxz {
    max-height: 1.25rem;
    max-width: 7.5rem;
}

.content {
    position: relative;
    width: 7.5rem;
    min-height: 4rem;
    margin-top: -0.08rem;
}

/*.slider {*/

/*    position: relative;*/

/*    height: 9.69rem;*/

/*    background-size: contain;*/

/*}*/

#slider {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 7.5rem;
}

#certify {
    position: relative;
    margin: 0 auto;
    width: 7.5rem;
    height: 4.16rem;
    overflow: hidden;
    z-index: 1;
}

#certify .swiper-slide {
    padding-top: 0rem;
    padding-left: 0rem;
    padding-bottom: 0rem;
    padding-right: 0rem;
    width: 2.66rem;
    height: 4.16rem;
    background-size: contain;
    text-align: center;
}

#certify .swiper-slide img {
    display: block;
    margin: 0 auto
}

.footer {
    position: relative;
    width: 7.5rem;
    min-height: 4rem;
    margin-top: -3px;
}

.footer .swiper-container {
    width: 6rem;
    height: 4.35rem;
    position: absolute;
    left: 0.75rem;
    top: 0.1rem;
}

.prev {
    /*border:1px red solid;*/
    width: 0.58rem;
    height: 1.44rem;
    position: absolute;
    top: 1.25rem;
    left: 0.1rem;
    outline: none;
}

.next {
    /*border:1px red solid;*/
    width: 0.58rem;
    height: 1.44rem;
    position: absolute;
    top: 1.25rem;
    right: 0.1rem;
    outline: none;
    -webkit-transform: rotateY(180deg);
    /* Safari å’Œ Chrome */
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -moz-transform: rotate(180deg);
    /* Firefox */
    -o-transform: rotate(180deg);
    /* Opera */
    /*transform: scale(0.95);*/
}

.footTop {
    width: 7.5rem;
    /*height: 2rem;*/
    position: absolute;
    top: 11rem;
}

.tpp {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    -webkit-box-orient: horizontal;
    outline: none;
}

.tpp li img {
    overflow: hidden;
}

.dlzx {
    max-height: 1.06rem;
    max-width: 3.04rem;
    padding-left: 0.5rem;
}

.dlzx:active {
    transform: scale(0.95);
    -ms-transform: rotate(0.95deg);
    /* IE 9 */
    -moz-transform: rotate(0.95deg);
    /* Firefox */
    -webkit-transform: rotate(0.95deg);
    /* Safari å’Œ Chrome */
    -o-transform: rotate(0.95deg);
    /* Opera */
}

.wxdsyb {
    max-height: 1.06rem;
    max-width: 3.04rem;
    padding-left: 0.4rem;
}

.wxdsyb:active {
    transform: scale(0.95);
    -ms-transform: rotate(0.95deg);
    /* IE 9 */
    -moz-transform: rotate(0.95deg);
    /* Firefox */
    -webkit-transform: rotate(0.95deg);
    /* Safari å’Œ Chrome */
    -o-transform: rotate(0.95deg);
    /* Opera */
}

.lsjl {
    text-align: center;
    position: relative;
    width: 7.24rem;
    height: 8.92rem;
    margin: -24.6rem auto 0;
    z-index: 1000;
}

#header {
    position: absolute;
    width: 0.62rem;
    height: 0.62rem;
    right: -0.1rem;
    top: -0.2rem;
    text-align: center;
}

.azjl {
    width: 2.54rem;
    height: 2.54rem;
    position: absolute;
    top: 1.26rem;
    right: 2.35rem;
}

.pgjl {
    width: 2.54rem;
    height: 2.54rem;
    position: absolute;
    top: 5.13rem;
    right: 2.35rem;
}

#jlkf {
    /* width: 750px; */
    color: white;
    font-size: 0.35rem;
    margin-top: -0.77rem;
    text-align: center;
}

.wxd {
    text-align: center;
    position: relative;
    width: 7.24rem;
    height: 8.92rem;
    margin: -24.6rem auto 0;
    z-index: 1000;
}

#nav {
    position: absolute;
    width: 0.62rem;
    height: 0.62rem;
    right: -0.1rem;
    top: -0.2rem;
    text-align: center;
}

.frame_bottom {
    position: fixed;
    bottom: 0;
    width: 7.5rem;
    height: 1.4rem;
    z-index: 2;
    background: rgba(0, 0, 0, .7);
}

.logo {
    width: 1.08rem;
    padding-top: 0.15rem;
    padding-left: .2rem;
}

.game_name {
    margin-left: 1.46rem;
    margin-top: -1.18rem;
}

.game_name p {
    color: white;
    font-size: 0.42rem;
}

.game_name span {
    color: #cac9c7;
    font-size: 0.22rem;
}

.end {
    width: 1.82rem;
    height: 0.7rem;
    padding-left: 5.35rem;
    margin-top: -0.85rem;
}

#cover {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 33.23rem;
    filter: alpha(opacity=60);
    opacity: 0.6;
    display: none;
    z-Index: 999;
    text-align: center;
}

.kjfs {
    width: 7.5rem;
    height: 1.54rem;
    margin-top: -0.051rem;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*background: #fff;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*z-index: 999;*/
}

.kjfs.hide {
    display: none
}

.kjfsbtn {
    height: 1.54rem;
    width: 7.5rem;
    text-align: center;
    /*border-radius: 0.5rem;*/
    background: url(../img/btn_save.gif) no-repeat;
    background-size: 100% 100%;
}

.dibtp {
    width: 7.5rem;
    height: 1.46rem;
    margin-top: -0.045rem;
}