<template>
  <div id="app">
    <sba-navbar :views="mainViews" :applications="applications" :error="error" />
    <router-view :views="childViews" :applications="applications" :error="error" />
  </div>
</template>

<script>
  import sbaNavbar from './navbar';

  export default {
    props: {
      views: {
        type: Array,
        default: () => []
      },
      applications: {
        type: Array,
        default: () => [],
      },
      error: {
        type: Error,
        default: null
      }
    },
    // eslint-disable-next-line vue/no-unused-components
    components: {sbaNavbar},
    computed: {
      mainViews() {
        return this.views.filter(view => !view.parent);
      },
      activeMainViewName() {
        const currentView = this.$route.meta.view;
        return currentView && (currentView.parent || currentView.name);
      },
      childViews() {
        return this.views.filter(view => view.parent === this.activeMainViewName);
      }
    }
  }
</script>
