<template>
  <sba-panel title="Info">
    <div>
      <div v-if="error" class="message is-warning">
        <div class="message-body">
          <strong>
            <font-awesome-icon class="has-text-warning" icon="exclamation-triangle" />
            Fetching live info failed. This is the last known information.
          </strong>
          <p v-text="error.message" />
        </div>
      </div>
      <div class="content info">
        <table class="table" v-if="!isEmptyInfo">
          <tr v-for="(value, key) in info" :key="key">
            <td class="info__key" v-text="key" />
            <td>
              <sba-formatted-obj :value="value" />
            </td>
          </tr>
        </table>
        <p v-else class="is-muted">No info provided.</p>
      </div>
    </div>
  </sba-panel>
</template>

<script>
  import Instance from '@/services/instance';

  export default {
    props: {
      instance: {
        type: Instance,
        required: true
      }
    },
    data: () => ({
      error: null,
      liveInfo: null
    }),
    computed: {
      info() {
        return this.liveInfo || this.instance.info
      },
      isEmptyInfo() {
        return Object.keys(this.info).length <= 0;
      }
    },
    created() {
      this.fetchInfo();
    },
    methods: {
      async fetchInfo() {
        if (this.instance.hasEndpoint('info')) {
          try {
            this.error = null;
            const res = await this.instance.fetchInfo();
            this.liveInfo = res.data;
          } catch (error) {
            this.error = error;
            console.warn('Fetching info failed:', error);
          }
        }
      }
    }
  }
</script>

<style lang="scss">
  .info {
    overflow: auto;

    &__key {
      vertical-align: top;
    }
  }

</style>
