<template>
  <div>
    <details-cache v-for="cache in caches" :key="cache"
                   :instance="instance" :cache-name="cache"
    />
  </div>
</template>

<script>
  import subscribing from '@/mixins/subscribing';
  import Instance from '@/services/instance';
  import {concatMap, timer} from '@/utils/rxjs';
  import uniq from 'lodash/uniq';
  import detailsCache from './details-cache';

  export default {
    props: {
      instance: {
        type: Instance,
        required: true
      }
    },
    mixins: [subscribing],
    // eslint-disable-next-line vue/no-unused-components
    components: {detailsCache},
    data: () => ({
      caches: [],
    }),
    methods: {
      async fetchCaches() {
        const response = await this.instance.fetchMetric('cache.gets');
        return uniq(response.data.availableTags.filter(tag => tag.tag === 'name')[0].values);
      },
      createSubscription() {
        const vm = this;
        return timer(0, 2500)
          .pipe(concatMap(this.fetchCaches))
          .subscribe({
            next: names => {
              vm.caches = names
            },
            error: error => {
              console.warn('Fetching caches failed:', error);
            }
          });
      }
    }
  }
</script>
