<template>
  <section class="section" :class="{ 'is-loading' : !hasLoaded }">
    <template v-if="hasLoaded">
      <div v-if="error" class="message is-danger">
        <div class="message-body">
          <strong>
            <font-awesome-icon class="has-text-danger" icon="exclamation-triangle" />
            Fetching mappings failed.
          </strong>
          <p v-text="error.message" />
        </div>
      </div>
      <div v-if="isOldMetrics" class="message is-warning">
        <div class="message-body">
          Mappings are not supported for Spring Boot 1.x applications.
        </div>
      </div>
      <template v-for="(context, ctxName) in contexts">
        <h3 class="title" v-text="ctxName" :key="ctxName" />

        <DispatcherMappings v-if="!isEmpty(context.mappings.dispatcherServlets)"
                            :key="`${ctxName}_dispatcherServlets`"
                            :dispatchers="context.mappings.dispatcherServlets"
        />

        <DispatcherMappings v-if="!isEmpty(context.mappings.dispatcherHandlers)"
                            :key="`${ctxName}_dispatcherHandlers`"
                            :dispatchers="context.mappings.dispatcherHandlers"
        />

        <ServletMappings :key="`${ctxName}_servlets`"
                         :servlets="context.mappings.servlets"
        />

        <ServletFilterMappings :key="`${ctxName}_servletFilters`"
                               :servlet-filters="context.mappings.servletFilters"
        />
      </template>
    </template>
  </section>
</template>

<script>
  import Instance from '@/services/instance';
  import DispatcherMappings from '@/views/instances/mappings/DispatcherMappings';
  import ServletFilterMappings from '@/views/instances/mappings/ServletFilterMappings';
  import ServletMappings from '@/views/instances/mappings/ServletMappings';
  import isEmpty from 'lodash/isEmpty';

  export default {
    components: {DispatcherMappings, ServletMappings, ServletFilterMappings},
    props: {
      instance: {
        type: Instance,
        required: true
      }
    },
    data: () => ({
      hasLoaded: false,
      error: null,
      contexts: null,
      isOldMetrics: false
    }),
    created() {
      this.fetchMappings();
    },
    computed: {},
    methods: {
      isEmpty,
      async fetchMappings() {
        this.error = null;
        try {
          const res = await this.instance.fetchMappings();
          if (res.headers['content-type'].includes('application/vnd.spring-boot.actuator.v2')) {
            this.contexts = res.data.contexts;
          } else {
            this.isOldMetrics = true;
          }
        } catch (error) {
          console.warn('Fetching mappings failed:', error);
          this.error = error;
        }
        this.hasLoaded = true;
      }
    },
    install({viewRegistry}) {
      viewRegistry.addView({
        name: 'instances/mappings',
        parent: 'instances',
        path: 'mappings',
        group: 'Web',
        component: this,
        label: 'Mappings',
        order: 450,
        isEnabled: ({instance}) => instance.hasEndpoint('mappings')
      });
    }
  }
</script>
