<template>
  <div class="instances">
    <div class="instances__body">
      <div class="instances__sidebar">
        <instance-sidebar
          :views="views"
          :instance="instance"
          :application="application"
        />
      </div>
      <div class="instances__view">
        <router-view v-if="instance" :instance="instance" :application="application" />
      </div>
    </div>
  </div>
</template>

<script>
  import InstanceSidebar from './sidebar';

  export default {
    components: {InstanceSidebar},
    props: {
      instanceId: {
        type: String,
        required: true
      },
      views: {
        type: Array,
        default: () => []
      },
      applications: {
        type: Array,
        default: () => [],
      },
      error: {
        type: Error,
        default: null
      }
    },
    computed: {
      instance() {
        return this.applications.findInstance(this.instanceId);
      },
      application() {
        return this.applications.findApplicationForInstance(this.instanceId);
      }
    },
    install({viewRegistry}) {
      viewRegistry.addView({
        name: 'instances',
        path: '/instances/:instanceId',
        component: this,
        props: true
      });
    }
  }
</script>

<style lang="scss">
  .instances {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    &__body {
      display: flex;
      flex-grow: 1;
    }

    &__view,
    &__sidebar {
      position: relative;
    }

    &__sidebar {
      z-index: 20;
    }
    &__view {
      flex-grow: 1;
      flex-shrink: 1;
      z-index: 10;
    }
  }
</style>
