<!DOCTYPE html>

<html>
<head>
    <base th:href="@{${adminContextPath} + '/'}" href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta name="theme-color" content="#42d3a5">

    <!-- include extensions -->
    <th:block th:each="cssFile : ${cssExtensions}">
        <link rel="preload" th:href="${cssFile.resourcePath}" as="style">
    </th:block>
    <th:block th:each="jsFile : ${jsExtensions}">
        <link rel="preload" th:href="${jsFile.resourcePath}" as="script">
    </th:block>
    <th:block th:each="cssFile : ${cssExtensions}">
        <link th:href="${cssFile.resourcePath}" rel="stylesheet">
    </th:block>

    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/png">
    <title th:text="${uiSettings.title}">服务监控</title>
</head>
<body>

<div id="app"></div>

<script th:inline="javascript">
    var SBA = {
        uiSettings: /*[[${uiSettings}]]*/ {},
        user: /*[[${user}]]*/ null,
        extensions: [],
        /*[#th:block th:if="${_csrf}"]*/
        csrf: {
            parameterName: /*[[${_csrf.parameterName}]]*/ null,
            headerName: /*[[${_csrf.headerName}]]*/ null
        },
        /*[/th:block]*/
        use: function (ext) {
            this.extensions.push(ext);
        }
    }
</script>
<!-- include extensions -->
<th:block th:each="jsFile : ${jsExtensions}">
    <script lang="javascript" th:src="${jsFile.resourcePath}"></script>
</th:block>
</body>
</html>
